// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
$grid-spacing: 1em;
$mobile-max-width: 330px;
$border-color: #cdcdcd;
$item-hover-bg: #f1f1f1;
$text-color: #333333;
$link-color: #333333;
$link-active-color: #766df4;
