
.menu-vertical-wrapper {
    z-index: 9;
    box-shadow: 0 6px 13px 0 rgba(3,11,31,.11);
    text-align: left;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    .mega-nav-header {
        padding: 1em;
        background:  #444444;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.nav-vertical {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 0.5em 1em;
        border-bottom: 1px solid #ededed;
        &:last-child {
            border-bottom: 0 none;
        }
        &:hover {
            background: #ededed;
        }
    }
}