:root  {
    --padding-main : 138px;
    --yellow: #FFC611;
    --light-blue: #F1F4F7;
    --bold-blue: #01305B;
    --white-blue: #FAFAFA;
    --yellow-2: #EBAF06;
    --pink: #FFF7F0;
    --violet: #212331;
}